# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
/vendor

# Build and distribution
dist
dist-ssr
/public/build
/public/hot
/public/storage

# Environment and config
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.nova
/.phpunit.cache
/auth.json
Homestead.json
Homestead.yaml
Thumbs.db

# Storage
/storage/*.key
/storage/pail

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Java/Maven specific
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
